# Add application configuration variables here, as shown below.

production:
  rails_env: production
  domain_name: {{ webserver_name }}

  mail_server: {{ mail_server }}
  mail_port: {{ mail_port }}
  mail_username: {{ mail_user }}
  mail_password: {{ mail_pass }}

  roles: [editor, client, test_client, superadmin]

  secret_key_base: {{ secret_key_base }}
  secret_key: {{ secret_key }}
  secret_token: {{ secret_token }} # your rake secret generated token secret token выполняем
  devise_secret_token: {{ devise_secret_token }}
  redis_port: {{ redis_port }}
