production:
  adapter: postgresql
  username: {{ database_username }}  ##postgres
  password: {{ database_password }}
  encoding: utf8 ##unicode
  pool: {{ max_threads }}
  database: {{ app_name }}_production
  ##host: localhost
  ##port: 5433